body {
    margin: 0;
}

#term {
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 10px;
    overflow-x: hidden;
    color: lightgrey;
    background-color: rgb(15, 15, 15);
}

#term pre {
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#cursor {
    animation:1s cursor linear infinite;
}

.prompt {
    color: grey;
}

.input {
    color: lightblue;
}

.error {
    color: rgb(255, 127, 127);
}

@keyframes cursor {
    0% {
        background-color: lightgrey;
        color: black;
    }

    40% {
        background-color: lightgrey;
        color: black;
    }

    50% {
        background-color: transparent;
        color: lightgrey;
    }

    90% {
        background-color: transparent;
        color: lightgrey;
    }

    100% {
        background-color: lightgrey;
        color: black;
    }
}
