body {
    margin: 0;
    background-color: rgb(15, 15, 15);
}

#term {
    box-sizing: border-box;
    padding: 10px;
    color: lightgrey;
}

#term pre {
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    transition: all 0.2s;
    animation: 1s output linear;
}

#term pre:hover {
    background-color: rgb(47, 47, 47);
}

#output {
    display: block;
}

.cursor-block {
    background-color: lightgrey;
    color: black;
    box-shadow: 0 0 5px lightgrey;
    animation: 1s cursor-block linear 10;
}

.cursor-bar {
    position: relative;
}

.cursor-bar::before {
    position: absolute;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: lightgrey;
    box-shadow: 0 0 5px lightgrey;
    content: '';
    animation: 1s cursor-bar linear 10;
}

.prompt {
    color: grey;
}

.input {
    color: lightblue;
}

.error {
    color: rgb(255, 127, 127);
}

.multicolumn {
    columns: 10em;
}

.multicolumn > * {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: normal !important;
    white-space: nowrap !important;
}

@keyframes cursor-block {
    40% {
        background-color: lightgrey;
        color: black;
        box-shadow: 0 0 5px lightgrey;
    }

    50% {
        background-color: inherit;
        color: inherit;
        box-shadow: 0 0 0 transparent;
    }

    90% {
        background-color: inherit;
        color: inherit;
        box-shadow: 0 0 0 transparent;
    }
}

@keyframes cursor-bar {
    40% {
        background-color: lightgrey;
        box-shadow: 0 0 5px lightgrey;
    }

    50% {
        background-color: inherit;
        box-shadow: 0 0 0 transparent;
    }

    90% {
        background-color: inherit;
        box-shadow: 0 0 0 transparent;
    }
}

@keyframes output {
    0% {
        background-color: inherit;
    }

    5% {
        background-color: rgb(31, 31, 31);
    }

    100% {
        background-color: inherit;
    }
}
